body {
  background: rgb(88, 11, 151);
  color: white;
  font-family: "Raleway", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/images/bg-desktop.svg);
    width: 100%;
    height: 100%;
  }
}
.head {
  display: flex;
  flex-direction: column;

  &__logo {
    width: 200px;
    margin: 0;
    padding: 50px;
  }

  &__image {
    width: 80%;
    margin: auto;
  }

  @media (min-width: 1024px) {
    min-width: 60%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;

  @media (min-width: 1024px) {
    text-align: initial;
    justify-content: center;
  }

  &__title {
    line-height: 48px;
  }

  &__description {
    font-size: 1.2em;
    line-height: 32px;
    margin: 0;
    padding-bottom: 30px;
  }

  &__nav {
    text-decoration: none;
    font-weight: 520;
    border: white solid 1px;
    border-radius: 50px;
    background: white;
    color: rgb(88, 11, 151);
    margin: auto;
    width: 60%;
    padding: 10px;

    @media (min-width: 1024px) {
      margin: 0;
      text-align: center;
      width: 30%;
    }

    &:hover {
      color: white;
      background: violet;
      border: violet solid 1px;
    }
  }

  &__footer {
    padding: 80px 20px 0;

    @media (min-width: 1024px) {
      text-align: right;
    }

    &-link {
      color: white;
      margin: 5px;
      padding: 8px;
      border: white solid 1px;
      border-radius: 150px;

      &:hover {
        border: violet solid 1px;
        color: violet;
      }
    }
  }
}
