.header {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__logo {
      width: 200px;
      margin: 50px;
      align-self: flex-start;
    }
  
    &__image {
      width: 80%;

      @media (min-width: $b-medium) {
        margin-top: 80px;
      }
    }
  
    @media (min-width: $b-medium) {
      min-width: 60%;
    }
  }
